USE [EnstrumanMuzikMarketDB]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 10.07.2020 16:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AddressName] [nvarchar](max) NULL,
	[City_ID] [int] NULL,
	[District_ID] [int] NULL,
	[User_ID] [int] NULL,
	[AddressDetail] [nvarchar](1000) NULL,
 CONSTRAINT [PK_dbo.Addresses] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminUser]    Script Date: 10.07.2020 16:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminUser](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_AdminUser] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 10.07.2020 16:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[ImagePath] [nvarchar](500) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 10.07.2020 16:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Cities] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[District]    Script Date: 10.07.2020 16:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DistrictName] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[City_ID] [int] NULL,
 CONSTRAINT [PK_dbo.Districts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 10.07.2020 16:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderNo] [uniqueidentifier] NULL,
	[Address_ID] [int] NULL,
	[User_ID] [int] NULL,
	[OrderDate] [datetime] NULL,
	[PaymentRefNo] [nvarchar](100) NULL,
	[ShippingNo] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderProduct]    Script Date: 10.07.2020 16:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderProduct](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Product_ID] [int] NULL,
	[Order_ID] [int] NULL,
	[ProductName] [nvarchar](100) NULL,
	[ImagePath] [nvarchar](500) NULL,
 CONSTRAINT [PK_OrderProduct] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 10.07.2020 16:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[ImagePath] [nvarchar](500) NULL,
	[Category_ID] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[UnitPrice] [decimal](10, 2) NULL,
	[ProductCode] [nvarchar](max) NULL,
	[BrandName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10.07.2020 16:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](25) NULL,
	[Surname] [nvarchar](25) NULL,
	[Password] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](255) NULL,
	[BirthDate] [datetime] NULL,
	[TcNo] [nvarchar](13) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([ID], [AddressName], [City_ID], [District_ID], [User_ID], [AddressDetail]) VALUES (1, N'erenköy', NULL, NULL, NULL, NULL)
INSERT [dbo].[Address] ([ID], [AddressName], [City_ID], [District_ID], [User_ID], [AddressDetail]) VALUES (2, N'ev', NULL, NULL, NULL, NULL)
INSERT [dbo].[Address] ([ID], [AddressName], [City_ID], [District_ID], [User_ID], [AddressDetail]) VALUES (4, N'ev burdur', 15, 176, 2, N'burc mh.')
SET IDENTITY_INSERT [dbo].[Address] OFF
SET IDENTITY_INSERT [dbo].[AdminUser] ON 

INSERT [dbo].[AdminUser] ([ID], [UserName], [Password], [IsActive], [Email]) VALUES (1, N'ihsan', N'1Z3auZuoRer4TlHLDjTDoA==', 1, N'ihsan@asd.com')
INSERT [dbo].[AdminUser] ([ID], [UserName], [Password], [IsActive], [Email]) VALUES (4, N'Fatih', N'1Z3auZuoRer4TlHLDjTDoA==', 1, N'fatih.gunalp@bilgeadam.com')
SET IDENTITY_INSERT [dbo].[AdminUser] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [CategoryName], [IsActive], [ImagePath]) VALUES (6, N'Davullar', 1, N'/Files/STAR_1280x1024.jpg')
INSERT [dbo].[Category] ([ID], [CategoryName], [IsActive], [ImagePath]) VALUES (7, N'Elektrik Gitarlar', 1, N'/Files/Jackson.JPG')
INSERT [dbo].[Category] ([ID], [CategoryName], [IsActive], [ImagePath]) VALUES (8, N'Amfiler', 1, N'/Files/marshall.jpg')
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([ID], [CityName], [IsActive]) VALUES (1, N'ADANA', 1)
INSERT [dbo].[City] ([ID], [CityName], [IsActive]) VALUES (2, N'ADIYAMAN', 1)
INSERT [dbo].[City] ([ID], [CityName], [IsActive]) VALUES (3, N'AFYON', 1)
SET IDENTITY_INSERT [dbo].[City] OFF
SET IDENTITY_INSERT [dbo].[District] ON 

INSERT [dbo].[District] ([ID], [DistrictName], [IsActive], [City_ID]) VALUES (1, N'SEYHAN', 1, 1)
INSERT [dbo].[District] ([ID], [DistrictName], [IsActive], [City_ID]) VALUES (2, N'CEYHAN', 1, 1)
INSERT [dbo].[District] ([ID], [DistrictName], [IsActive], [City_ID]) VALUES (3, N'FEKE', 1, 1)
GO
SET IDENTITY_INSERT [dbo].[District] OFF
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([ID], [OrderNo], [Address_ID], [User_ID], [OrderDate], [PaymentRefNo], [ShippingNo]) VALUES (1, N'c8376a9e-7fec-4587-bb3c-e3d4b1e7afcd', 4, 2, CAST(N'2020-07-09T16:56:09.617' AS DateTime), N'Ek8W0yDyvW7QlUndwNGEW5a8k6K4Ls1+JaKISPSA/Y5jQtlQ+spLTQ==', N'4158c427-66d5-4243-8497-4e044b021c28')
INSERT [dbo].[Order] ([ID], [OrderNo], [Address_ID], [User_ID], [OrderDate], [PaymentRefNo], [ShippingNo]) VALUES (2, N'55623e52-3fed-489f-8d76-e1770d5e3809', 8, 2, CAST(N'2020-07-10T08:53:04.827' AS DateTime), N'qUCZJ6dZ8dDQkWnLgC+JLODrapKmHHdHoI5HClVN/RA=', N'3c9bf386-453f-4b1b-915a-ca25ab1681eb')
INSERT [dbo].[Order] ([ID], [OrderNo], [Address_ID], [User_ID], [OrderDate], [PaymentRefNo], [ShippingNo]) VALUES (3, N'1c506bd2-82c4-4351-8e3c-76365f3ca780', 8, 2, CAST(N'2020-07-10T12:07:39.933' AS DateTime), N'Zpv1TdQj0TZMi4W+9Gxr8vKrEaaVPFxgJnlvmOIwwx0=', N'657ba1b5-9ab9-4d96-ad34-df0bd6267446')
SET IDENTITY_INSERT [dbo].[Order] OFF
SET IDENTITY_INSERT [dbo].[OrderProduct] ON 

INSERT [dbo].[OrderProduct] ([ID], [Product_ID], [Order_ID], [ProductName], [ImagePath]) VALUES (1, 17, 1, N'Korg Pa600', N'/Files/Pa600.png')
INSERT [dbo].[OrderProduct] ([ID], [Product_ID], [Order_ID], [ProductName], [ImagePath]) VALUES (2, 16, 1, N'Marshall 1960AV', N'/Files/1960av.JPG')
INSERT [dbo].[OrderProduct] ([ID], [Product_ID], [Order_ID], [ProductName], [ImagePath]) VALUES (3, 6, 2, N'Starclassic Maple ', N'/Files/starclassic.png')
SET IDENTITY_INSERT [dbo].[OrderProduct] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ID], [ProductName], [IsActive], [ImagePath], [Category_ID], [Description], [UnitPrice], [ProductCode], [BrandName]) VALUES (5, N'STAR Bubinga', 1, N'/Files/Star Bubinga.png', 6, N'Bubinga wood, which TAMA introduced to the market, has become increasingly popular as a drum shell material. Because of their ultra-high density, Bubinga shells provide rich, fat low end as well as deep, dark tones.', CAST(4000.00 AS Decimal(10, 2)), N'1111', N'TAMA')
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Name], [Surname], [Password], [Email], [PhoneNumber], [BirthDate], [TcNo]) VALUES (2, N'ihsan', N'acan', N'1Z3auZuoRer4TlHLDjTDoA==', N'ihsan@asd.com', N'1212121212', CAST(N'1983-01-01T00:00:00.000' AS DateTime), N'1234567891234')
INSERT [dbo].[User] ([ID], [Name], [Surname], [Password], [Email], [PhoneNumber], [BirthDate], [TcNo]) VALUES (3, N'Fatih', N'Günalp', N'1Z3auZuoRer4TlHLDjTDoA==', N'fatih.günalp@bilgeadam.com', N'12345', CAST(N'1985-04-01T00:00:00.000' AS DateTime), N'1234569875432')
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Addresses_dbo.Cities_City_ID] FOREIGN KEY([City_ID])
REFERENCES [dbo].[City] ([ID])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_dbo.Addresses_dbo.Cities_City_ID]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Addresses_dbo.Districts_District_ID] FOREIGN KEY([District_ID])
REFERENCES [dbo].[District] ([ID])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_dbo.Addresses_dbo.Districts_District_ID]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Addresses_dbo.Users_User_ID] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_dbo.Addresses_dbo.Users_User_ID]
GO
ALTER TABLE [dbo].[District]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Districts_dbo.Cities_City_ID] FOREIGN KEY([City_ID])
REFERENCES [dbo].[City] ([ID])
GO
ALTER TABLE [dbo].[District] CHECK CONSTRAINT [FK_dbo.Districts_dbo.Cities_City_ID]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Address] FOREIGN KEY([Address_ID])
REFERENCES [dbo].[Address] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Address]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD  CONSTRAINT [FK_OrderProduct_Order] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Order] ([ID])
GO
ALTER TABLE [dbo].[OrderProduct] CHECK CONSTRAINT [FK_OrderProduct_Order]
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD  CONSTRAINT [FK_OrderProduct_Product] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[OrderProduct] CHECK CONSTRAINT [FK_OrderProduct_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([Category_ID])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
