@using DAL
@model List<Category>
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

    <div class="card shadow mb-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="p-5">
                    <form class="user" method="post" action="@Url.Action("Add")" enctype="multipart/form-data">
                        <div class="form-group row">

                            <div class="form-group col-sm-6 ">
                                <input type="text" class="form-control" id="name" name="ProductName" placeholder="Product Name" value="" required>
                            </div>
                            <div class="form-group col-sm-6 ">
                                <input type="text" class="form-control" id="name" name="ProductCode" placeholder="Product Code" value="" required>
                            </div>
                            <div class="form-group col-sm-6 ">
                                <input type="text" class="form-control" id="name" name="BrandName" placeholder="Brand Name" value="" required>
                            </div>
                            
                            <div class="form-group col-sm-6 ">
                                <input type="text" class="form-control" id="name" name="Description" placeholder="Description" value="" required>
                            </div>
                            <div class="form-group col-sm-6 ">
                                <input type="text" class="form-control" id="name" name="UnitPrice" placeholder="Unit Price" value="" required>
                            </div>

                            <div class="form-group col-sm-6">
                                <select class="form-control" id="isActive" name="IsActive" placeholder="IsActive" required>
                                    <option value="">Is Active?</option>
                                    <option value="false">No</option>
                                    <option value="true">Yes</option>
                                </select>

                            </div>

                            <div class="form-group col-sm-6">
                                <select class="form-control" id="Category_ID" name="Category_ID" placeholder="Category_ID" required>
                                    <option value="">Category</option>
                                    @foreach (Category category in Model)
                                    {
                                        <option value="@category.ID">@category.CategoryName</option>
                                    }

                                </select>

                                <div class="form-group col-sm-6 ">
                                    <input type="file" class="form-control" id="file" name="file">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Save</button>
                        </div>   
                    </form>
                </div>
            </div>
        </div>

    </div>
